* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
textarea {
  border: none;
  outline: none;
}
textarea {
  resize: none;
}
body {
  padding-top: 200px;
}
.form_container {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 2px rgb(183, 183, 183);
  padding: 20px 30px;
}
.form_title {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form_btn {
  align-self: center;
}
.form_element {
  display: flex;
  gap: 25px;
  border: 2px solid gray;
  padding: 10px 15px;
  border-radius: 5px;
}
.form_element-svg {
  width: 30px;
  height: 30px;
  fill: gray;
}
.form_element-icon {
  position: relative;
}
.form_element-icon::after {
  content: "";
  width: 2px;
  height: 32px;
  background-color: gray;
  position: absolute;
  right: -10px;
  top: -1px;
}
.form_element-input {
  flex-grow: 1;
}
.input-check {
  border: none;
}
.form_btn {
  background-color: teal;
  padding: 10px 30px;
  border: none;
  border-radius: 2px;
  color: white;
  font-style: italic;
}

.input-check_checkbox {
  appearance: none;
  width: 35px;
  height: 20px;
  border: 1px solid grey;
  border-radius: 25px;
  position: relative;
}
.input-check_checkbox::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgb(202, 197, 197);
  position: absolute;
  border-radius: 50%;
  top: 1.5px;
  left: 2px;
  box-shadow: 0px 0px 5px 1px gray;
}
.input-check_checkbox:checked::before {
  left: 16px;
  background-color: black;
  box-shadow: 0px 0px 5px 1px rgb(8, 8, 8);
}
.form_btn:hover {
  animation: pulse 1s linear infinite;
  cursor: pointer;
}
@keyframes pulse {
  50% {
    transform: scale(1.2);
  }
}
.form_element:focus-within {
  border: 2px solid teal;
}
.form_element:focus-within .form_element-svg {
  fill: teal;
}
.form_element:focus-within .form_element-icon::after {
  background-color: teal;
}
